html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

#pageone {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

#pageone {
    background: url('../img/faces.jpg');
    background-size: cover;
}

#pageone h1 {
    color: #EEE;
    position: absolute;
    top: 30%;
    z-index: 2;
    width: 100%;
    text-shadow: #000 5px 5px 5px;
    font-size: 4em;
    letter-spacing: -.1em;
    margin-bottom: 0; 
    opacity: 0.8;
}

#pageone h2 {
    color: #999;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 57%;
    text-shadow: #000 5px 5px 5px;
    z-index: 4;
    font-size: 1.5em;
    letter-spacing: 0;
    margin-top: 0;
    opacity: 0.8;
}

#pageone h3 {
    color: #EEE;
    position: absolute;
    top: 48%;
    z-index: 2;
    width: 100%;
    text-shadow: #000 5px 5px 5px; 
    font-size: 1em;
    letter-spacing: .5em;
    margin-bottom: 0;
    text-transform: uppercase;
    opacity: 0.8;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #EEE;
}

canvas{
    position:absolute;
    top:0;
    left:0;
    z-index: 3;
    background: none;
    opacity: 0.5;
}